<script type="speculationrules">
{
  "prefetch": [
    {
      "urls": [
        "/resume",
        "/blogs",
        "/projects",
        "/playlist"
      ]
    }
  ]
}
</script>

<script type="speculationrules">
{
  "prefetch": [
    {
      "where": {
        "href_matches": "/blog/*"
      },
      "eagerness": "immediate"
    }
  ],
  "prerender": [
    {
      "where": {
        "and": [
          {
            "href_matches": "/*"
          },
          {
            "not": {
              "href_matches": "/rawblogs"
            }
          }
        ]
      },
      "eagerness": "moderate"
    }
  ]
}
</script>
