<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#595987" />
    <meta name="description" content="Common L taker's personal portfolio" />
    <link rel="apple-touch-icon" href="./logo192.png" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="stylesheet" href="./index.css">
    <script src="https://unpkg.com/htmx.org@1.9.12" crossorigin="anonymous"></script>
    <script src="scripts/router.js"></script>
    <title>Aria Khoshnood</title>
</head>

<body style="display: flex; flex-direction: column;">
    <header>
        <nav hx-target="main">
            <a hx-get="/about.html" hx-push-url="/">HOME</a>
            <a hx-get="/resume.html" hx-push-url="true">RESUME</a>
            <a hx-get="/blogs.html" hx-push-url="true">BLOGS</a>
            <a hx-get="/projects.html" hx-push-url="true">PROJECTS</a>
        </nav>
    </header>
    <main hx-history-elt>
        <!-- the main content goes here -->
    </main>
    <footer>
        <div class="footer-info">
            <div>Made By <a href="https://github.com/ariakh55">Sulfur Sashimi</a> (AD4K)</div>
            <div>
                Contact me directly @ <a href="mailto:khoshnoodaria@outlook.com">MY Email</a>
            </div>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/markdown-it@14.1.0/dist/markdown-it.min.js"></script>
</body>

</html>
