{%if useLayout %}
<!doctype html>
<html lang="en" hx-ext="head-support">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/assets/favicon.ico" />


    {% endif %}
    <title>{% block title %}{{ head.title or 'Aria Khoshnood' }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta name="description" content="{{ head.description or 'Common L taker\'s personal portfolio' }}" />
    <meta name="theme-color" content="{{ head.themeColor or '#f5e0dc' }}" />
    <meta property="og:title" content="{{ head.og.title or 'Aria Khoshnood' }}" />
    <meta property="og:type" content="{{ head.og.type or 'portfolio' }}" />
    <meta property="og:url" content="{{ head.og.url or 'https://www.sulfursashimi.tech' }}" />
    <meta property="og:site_name" content="{{ head.og.site_name or 'SulfurSashimi dot Tech' }}" />
    <meta property="og:description" content="{{ head.og.description or 'Common L taker\'s personal portfolio' }}" />
   
    {% if useLayout %}
    <link rel="apple-touch-icon" href="/assets/logo192.png" />

    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/catppuccin-mocha.css">
    <link rel="stylesheet" href="/styles/default.min.css">

    <script src="/scripts/htmx.min.js" crossorigin="anonymous"></script>
    <script src="/scripts/head-support.js" crossorigin="anonymous"></script>
</head>

<body style="display: flex; flex-direction: column;">
    {%- include('partials/header.html')%}

    <main hx-history-elt>
        <!-- the main content goes here -->
        {% endif %}
        {% block content %}{% endblock %}
        {% if useLayout %}
    </main>

    {%- include('partials/speculations.html')%}
    {%- include('partials/footer.html')%}
</body>

</html>

{% endif %}
