{% extends 'layouts/main.html' %}

{% block content %}

<div class="wide-container" hx-target="main" hx-swap="innerHTML">
    {% if blogPosts.length == 0 %}
        NOTTIN FOUND
        
    {% else  %}
        <div class="blogs-list">
        {% for post in blogPosts %}
            <div>
                <a hx-get="{{post.link}}" hx-push-url="true">
                    <div>
                        <span class="number">{{loop.index}}</span>
                        <span>{{post.info.title}}</span>
                    </div>
                    <div>{{post.name}}</div>
                </a>
                {{post.info.description}} <br>
                {{post.info.date}} - created by {{post.info.author}}
                <hr />
            </div>
        {% endfor %}
        </div>
    {% endif  %}
       
    
</div>

{% endblock %}
