{% extends 'layouts/main.html' %}

{% block content %}
<head>
    <title>Aria Khoshnood</title>
</head>
<div class="wide-container">
    <div class="markdown-container" hx-get="/public/README.md" hx-target="this" hx-trigger="load"> </div>

    <!-- <pre class="cream-of-crop lolcat"> -->
    <!--       ___           ___                         ___           ___           ___      -->
    <!--      /\__\         /\  \                       /\__\         /\  \         /\  \     -->
    <!--     /:/ _/_        \:\  \                     /:/ _/_        \:\  \       /::\  \    -->
    <!--    /:/ /\  \        \:\  \                   /:/ /\__\        \:\  \     /:/\:\__\   -->
    <!--   /:/ /::\  \   ___  \:\  \   ___     ___   /:/ /:/  /    ___  \:\  \   /:/ /:/  /   -->
    <!--  /:/_/:/\:\__\ /\  \  \:\__\ /\  \   /\__\ /:/_/:/  /    /\  \  \:\__\ /:/_/:/__/___ -->
    <!--  \:\/:/ /:/  / \:\  \ /:/  / \:\  \ /:/  / \:\/:/  /     \:\  \ /:/  / \:\/:::::/  / -->
    <!--   \::/ /:/  /   \:\  /:/  /   \:\  /:/  /   \::/__/       \:\  /:/  /   \::/~~/~~~~  -->
    <!--    \/_/:/  /     \:\/:/  /     \:\/:/  /     \:\  \        \:\/:/  /     \:\~~\      -->
    <!--      /:/  /       \::/  /       \::/  /       \:\__\        \::/  /       \:\__\     -->
    <!--      \/__/         \/__/         \/__/         \/__/         \/__/         \/__/     -->
    <!-- </pre> -->
</div>

{% endblock %}
