{% extends 'layouts/main.html' %}

{% block content %}
<div class="wide-container flex">
    <div class="projects-list">
        <div class="project-card">
            <img src="/assets/tekkenguide-screenshot.png" width="100" height="50" alt="Get ready for the next battle">
            <a href="https://tekkenguide.sulfursashimi.tech" rel="noref" target="_blank">Tekken Guide</a>
            <p>A project to reach your sorry a*s to GoD</p>
        </div>
        <div class="project-card">
            <img src="https://opengraph.githubassets.com/3cbcd806d750bb60e6e6504fe070c64336e2cc7f88156892321bba6d15f45dda/ariakh55/worker-plus" width="100" height="50" alt="A simple but elegant library to create a local backend for desktop apps. - ariakh55/worker-plus">
            <a href="https://github.com/ariakh55/worker-plus" rel="noref" target="_blank">ariakh55/worker-plus</a>
            <p>A simple but elegant library to create a local backend for desktop apps.</p>
        </div>
        <div class="project-card">
            <img src="https://opengraph.githubassets.com/8df23507ea72e47869dce08ff28c2e43c9ebbb0a95b427d82aa10aade3fc0c89/ariakh55/dotfiles" width="100" height="50" alt="Dotfiles">
            <a href="https://github.com/ariakh55/doftiles" rel="noref" target="_blank">ariakh55/doftiles</a>
            <p>My dotfiles + some techinacal difficulties and complexities</p>
        </div>
        <div class="project-card">
            <img src="https://opengraph.githubassets.com/2a09448c2d5284b6428f8e6607b0d732d430c41feddba796cff5642ae351dda1/ariakh55/deploy-webhook" width="100" height="50" alt="ariakh55/deploy-webhook">
            <a href="https://github.com/ariakh55/worker-plus" rel="noref" target="_blank">ariakh55/deploy-webhook</a>
            <p>A very lazy implementation of a CI runner for shared-hostings.</p>
        </div>
        <div class="project-card">
            <img src="https://opengraph.githubassets.com/36d2bd8dab470f655ff835420f3947d1f79a5f6681d0f37d541610aca47d5686/ariakh55/tmux-bluetooth-device" width="100" height="50" alt="Tmux bluetooth status bar">
            <a href="https://github.com/ariakh55/tmux-bluetooth-device" rel="noref" target="_blank">ariakh55/tmux-bluetooth-device</a>
            <p>I was board and made this for the tmux status bar</p>
        </div>
    </div>
</div>
{% endblock %}
