@import "variables.css";

* {
    font-family: 'Space Mono';
}

doc-info {
    display: none;
}

html {
    background-color: var(--crust);
    color: var(--text);
}

a {
    color: var(--pink);
    text-decoration: underline;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

img.micro-banner {
    display: block;
    margin:0 auto;
    width:140px;
    height:auto; 
}

.markdown-container[data-src="/public/README.md"] img {
    width: auto;
    height: 20px;
}

.markdown-container[data-src="/public/README.md"] .website-container img {
    width: 450px;
    height: 195px;
}

.markdown-container code:not(.hljs) {
    background: var(--base);
    display: inline-block;
    padding: 2.5px;
    font-size: 90%;
}

a:hover,
a:active,
a:focus {
    color: var(--red);
}

h1,
h2,
h3 {
    color: var(--maroon);
}

h4,
h5,
h6 {
    color: var(--lavender);
}

header,
main,
footer {
    display: flex;
    justify-content: center;
}

header {
    margin-top: 30px;
}

header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav>a {
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav>a::before {
    content: '[ ';
}

nav>a::after {
    content: ' ]';
}

main {
    min-height: 80vh;
    margin: 0 auto;
    width: 70%;
}

main .container {
    align-self: center;
}

main .wide-container {
    padding: 0 auto;
    padding-top: 12px;
    min-width: 70%;
}

.wide-container.flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.back-button {
    text-decoration: none;
}


.blogs-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blogs-list span {
    font-size: 1.3rem;
    font-weight: bold;
}

.blogs-list span.number {
    font-size: 2rem;
}

.blogs-list hr {
    width: 80%;
}

.blogs-list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
    text-decoration: none;
}

.markdown-container {
    margin: 0 auto;
    padding: 10px 70px;
    width: 80%;
}

.markdown-container.justify-parapragh {
    text-align: justify;
    text-justify: inter-character;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.project-card {
    border: 1.5px solid var(--lavender);
    width: 100%;
    max-width: 420px;
    height: 380px;
}

.project-card a {
    display: block;
    font-weight: bold;
    font-size: 1.17em;
    font-weight: bold;
    text-decoration: none;
}

.project-card a::after {
    font-family: 'NerdIcon';
    content: ' ';
}

.project-card p,
.project-card a {
    padding: 0 15px;
}

.project-card:hover {
    border-color: var(--sky);
}

.list.playlist {
    display: block;
    width: 100%;
}

.track-card {
    display: flex; 
    gap: 10px;

    margin-top: 3px;
    margin-bottom: 2px;
    
    padding-bottom: 10px;
    border-bottom: 1px solid var(--flamingo);
}

.track-card:nth-last-child(1){
    border-bottom: unset;
}

.track-card .thumbnail {
    width: 25%;
    aspect-ratio: 1/1;
}

.track-card .info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.track-card .info p, .track-card .info a {
    margin: 0;
    font-size: 1.5vw;
}

.icon {
    font-family: 'NerdIcon';
}

footer {
    align-self: flex-end;
    width: 100%;
    padding: 30px 0 10px;
    margin: 35px 0px 10px;
}

footer .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.cream-of-crop {
    /* font-family: monospace; */
    font-size: 1vw;
    line-height: 1vw;
}

.lolcat {
    text-align: center;
    animation: rainbow 5s infinite;
}

@media only screen and (max-width: 1250px) {
    .list {
        justify-content: center;
    }

    .project-card {
        flex: 0 0 45%;
    }

    .track-card .info p, .track-card .info a {
        font-size: 2vw;
    }

}

@media only screen and (max-width: 768px) {
    main {
        width: 90%;
    }

    h1 {
        font-size: 150%
    }

    h2 {
        font-size: 140%
    }

    h3 {
        font-size: 130%
    }

    h4 {
        font-size: 120%
    }

    h5 {
        font-size: 120%
    }

    h6 {
        font-size: 120%
    }

    nav {
        justify-content: space-evenly !important;
    }

    .project-card {
        flex: unset;
    }

    .track-card .info p, .track-card .info a {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 615px) {
    body {
        width: 100%;
        margin: 0;
    }

    nav>a {
        font-size: 1rem;
    }

    nav>a::before,
    nav>a::after {
        content: unset;
    }

    .footer-info {
        flex-direction: column;
    }

    .wide-container.flex {
        flex-direction: column;
    }

    .blogs-list div {
        text-align: center;
    }

    .blogs-list a {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .markdown-container {
        padding: unset;
        width: 100%;
    }

    .markdown-container[data-src="/public/README.md"] .website-container img {
        width: 300px;
        height: auto;
    }
}

@media only screen and (max-width: 425px) {
    .markdown-container[data-src="/public/README.md"] .website-container img {
        width: 220px;
    }
}
